{% extends 'events/main.html' %}
{% block title %}Archive{% endblock %}
{% load static %}

{% block content %}    

<div class="container-lg mt-3">
    
    <h4>Event Archive</h4>
    <br>

    {% for event in event_list %}
    
        {% if not event.is_active %}
                   
            <div class="card w-75 mb-4">

                <div class="card-header py-1">
                    <div class="d-flex justify-content-between">
                        <div class="fw-normal text-danger"><small>Event took place on {{ event.start_date|date:'d M, Y' }}</small></div>
                        <div class="fw-normal text-danger"><small>Archived</small></div>
                    </div>
                </div>
                <div class="card-body px-3 pt-2 pb-2">
                    <div class="card-title"><a class="h4 text-decoration-none" href="{% url 'event_details' event.pk %}">{{ event.name }}</a></div>
                    <div>{{ event.venue.city }}, {{ event.venue.country }}</div>                              
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center px-3 py-1">               
                    <div class="mt-0 pt-0 fw-light text-muted"><small>{{ event.category }}</small></div>  
                    <div>
                        <small><a href="{{ event.website }}" class="text-decoration-none fw-light text-muted" target="_blank">{{ event.name }} on Facebook</a></small>
                    </div>
                </div>

            </div>

        {% endif %}

    {% endfor %}

</div>

{% endblock content %}
