{% extends 'events/main.html' %}
{% block title %}Artist Details{% endblock %}
{% load static %}

{% block content %}

<div class="container">
      <div class="card mx-auto my-4">
            
            {% if artist.image %}
                  <img src="{{ artist.image.url }}" class="artist_image card-img-top" alt="...">

            {% else %}
                  <img src="{% static 'img/artist/artist_generic.jpg' %}" class="card-img-top" alt="...">

            {% endif %}

            <div class="card-body">

                  {% if user.is_authenticated %}
                        <h4 class="card-title mb-0">{{ artist.name }} <span class="fw-lighter">({{ artist.country }})</span></h4>
                        <p class="my-0"><small><a href="{% url 'artist_update' artist.pk %}">Edit</a></small></p>

                  {% else %}
                        <h4 class="card-title mb-3">{{ artist.name }} <span class="fw-lighter">({{ artist.country }})</span></h4>

                  {% endif %}


                  
                  <p>{{ artist.description|default_if_none:'No info...'|linebreaks }}</p>
                  
                  <hr>
                  <h5>Playing at:</h5>
                              
                  {% for gig in artist.gigs.all %}
                        <ul>
                              <li><a href="{% url 'event_details' gig.pk %}">{{ gig }}</a></li>
                        </ul>
                  {% endfor %}

                  <hr>
                  {{ artist.website|default_if_none:'No website...'|urlize}}
            </div>
      </div>
</div>

{% endblock content %} 