{% extends 'events/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container w-75 my-3">
            <h2>Edit Artist</h2>
            <br>
            <div class="form-group">
                <form method="POST">                
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary px-5">Update</button>                    
                </form>
            </div>        
        </div>

    {% else %}

        <div class="container w-75 my-3">
            <h2>You are not logged in!</h2>
            <br>

            <!-- <a href="{% url 'login' %}">Login</a> -->
                                
        </div>

    {% endif %}

{% endblock content %} 