{% extends 'events/main.html' %}
{% block title %}All Events{% endblock %}
{% load static %}

{% block content %}    

<div class="container-lg mt-3 mx-auto">

    <h5 class="px-3 mt-3 mb-2 display-6">Upcoming Events</h5>
    <br>

    {% for event in event_list %}
    
        {% if event.is_active %}
                   
            <div class="card border-dark mb-3">

                <div class="card-header">
                    <div class="d-flex justify-content-between px-2">
                        <div class="display-6 fs-6">{{ event.start_date|date:'Y.m.d' }} - {{ event.end_date|date:'Y.m.d' }}</div>
                        <div class="display-6 fs-6 text-muted">Starts in {{event.start_date|timeuntil}}.</div>
                    </div>

                </div>
                    
                <div class="card-body px-3 pb-1 pt-2">
                    <p class="card-title text-decoration-none h2 display-6 fs-2 mb-0"><a href="{% url 'event_details' event.pk %}">{{ event.name }}</a></p>
                    <p class="mt-0 pt-0 mb-4 lh-1 text-muted"><small><em>{{ event.category }}</em></small></p>
                    <div class="display-6 fs-5 mb-1">{{ event.venue.city }}, {{ event.venue.country }}</div> 

                </div>

                <div class="card-footer d-flex justify-content-between align-items-center text-muted px-3 py-2">  
                                
                    <div><a href="{{ event.website }}" class="text-decoration-none text-muted" target="_blank">{{ event.name }} on Facebook</a></div>
                    
                </div>

            </div>

        {% endif %}

    {% endfor %}

</div>

{% endblock content %}
