{% extends 'events/main.html' %}
{% block title %}All Events{% endblock %}
{% load static %}

{% block content %}    

<div class="container-lg mt-3 mx-auto">

    <h5 class="px-3 mt-0 mb-1 display-6">Upcoming Events</h5>
    <br>

    {% for event in event_list %}        
                   
        <div class="card border-dark mb-3">

            <div class="card-header px-3">
                <div class="float-start fw-normal">{{ event.start_date|date:'Y.m.d' }} - {{ event.end_date|date:'Y.m.d' }}</div>
                <div class="float-end fw-normal">{{ event.venue.city }}, {{ event.venue.country }}</div>
            </div>
                
            <div class="card-body px-3 py-2">
                <p class="card-title h3 display-6 fs-2 mb-0">{{ event.name }}</p>
                <p class="mt-0 pt-0 mb-3 lh-1 text-muted"><small><em>{{ event.category }}</em></small></p>
                <a href="{% url 'event_details' event.pk %}" class="btn btn-primary btn-sm">See Details</a>
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center text-muted px-3 py-2">                
                <div><a href="{{ event.website }}" class="text-decoration-none text-muted" target="_blank">{{ event.name }} on Facebook</a></div>
                <div>Starts in {{event.start_date|timeuntil}}.</div>
            </div>

        </div>

    {% endfor %}

</div>

{% endblock content %}
