{% extends 'events/main.html' %}
{% block title %}Add Event{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container w-75 my-3">
            <h4>Add Event...</h4>
            <br>

            <div class="form-group mt-3">
                <form method="POST" enctype="multipart/form-data">                
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="btn btn-primary px-5">Add</button>                    
                </form>
            </div>  
        </div>

    {% else %}

        <div class="container w-75 my-3">
            <h2>You are not logged in!</h2>
            <br>
                               
        </div>

    {% endif %}
    
{% endblock content %} 