<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-lg">
        <a class="navbar-brand" href="{% url 'home' %}">PSYFEST</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=>Events</a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="{% url 'event_list' %}">Upcoming Events</a></li>
                        <li><a class="dropdown-item" href="{% url 'archive' %}">Event Archive</a></li>
                        
                        {% if user.is_authenticated %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'event_add' %}">Add Event</a></li>
                        {% endif %}                       
                        
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'artist_list' %}">Artists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'venue_list' %}">Venues</a>
                </li>
                


                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'artist_add' %}">+Artist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'venue_add' %}">+Venue</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>

                {% endif %}                   

            </ul>

            <form class="d-flex" method="POST" action="{% url 'search_results' %}">
                {% csrf_token %}

                <input class="form-control px-2 py-1 text-muted" type="search" placeholder="Search Events" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary py-0 my-0 ms-1" type="submit">Search</button>
            </form>
            

            <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link fw-light fst-italic">Logged in as {{ user.username }}</a>
                    {% else %}
                        <a class="nav-link fw-light fst-italic">Not logged in</a>
                    {% endif %}
                </li>
            </ul>

        </div>

    </div>
</nav>