{% extends 'events/main.html' %}
{% block title %}Venue Details{% endblock %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="card mx-auto my-2">
            <div class="card-header">

                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title my-0">{{ venue.name }}</h3>
                    <div class="btn-group">
                        <a href="{% url 'venue_update' venue.pk %}" class="btn btn-sm btn-outline-secondary">Edit Venue Details</a>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col">
                        <p><strong>Upcoming Events at {{ venue.name }}</strong></p>  
                        {% for gig in venue.gigs.all %} 
                            <ul class="list-group w-75">
                                <li class="d-flex list-group-item justify-content-between align-items-center px-2 py-1">
                                    <div><a href="{% url 'event_details' gig.pk %}" class="link-dark text-dark text-decoration-none">{{ gig }}</a></div>
                                    <div>{{ gig.start_date|date:'Y.m.d' }}</div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>

                    <div class="col">
                        <p><strong>Venue Address:</strong></p>
                        <p class="my-0">{{ venue.name }}</p>
                        <p class="my-0">{{ venue.address }}</p>
                        <p class="my-0">{{ venue.zip_code }} {{ venue.city }}</p>
                        <p class="mt-0 mb-2">{{ venue.country }}</p>
                        <p class="my-0"><a href="{{ venue.website }}" taget="_blank">Website</a></p>
                    </div>

                    <div class="col">
                        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65777.0147701757!2d20.95083016400414!3d52.21698835988084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb392c316bbb%3A0x15c4814195f799d9!2sProgresja!5e0!3m2!1spl!2spl!4v1629405727915!5m2!1spl!2spl" 
                        height="300" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}