a {
    text-decoration: none;
    font-weight: 400;
}

.card {
    border-radius: 0.4rem;
}

.card-body ul {
    line-height: 1;
    margin-bottom: 0.5rem;
}

.card-body h5 {
    line-height: 1.5;
}

.card-header {
    border-top-left-radius: 0.4rem !important;
    border-top-right-radius: 0.4rem !important;
    background-color: #94430000; 
}

.card-title {
    text-decoration: none !important;
    margin-bottom: 0;
}
