{% extends 'events/main.html' %}
{% block title %}Login{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <div class="alert alert-danger w-50 pt-4 mt-5 mx-auto alert-dismissible fade show" role="alert">
        <h2 class="display-6 text-center">You are already logged in!</h2>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                    
    </div>

{% else %}

    <div class="container w-50 my-4 mx-auto text-center">
        <h3 class="display-6">Login</h3>

        <div class="form-group w-75 mt-4 mb-3 mx-auto text-center">
            <form method="POST">                
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-primary py-1 my-1 me-2">Log in</button>
                <button class="btn btn-secondary py-1 my-1 ms-2"><a href="{% url 'event_list' %}">Cancel</a></button> 
            </form>
        </div> 

    </div>

{% endif %} 

{% endblock content %} 
